* { margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    html { background: linear-gradient(50deg, #aaa, white);  
      margin: 10px;
      padding: 10px;}
  
    .grid-container {
      display: grid;
      grid-template-areas:
      "header header"
      "nav nav"
      "vid1 vid2"
      "vid3 vid3"
      "img1 img2";
      grid-gap: 10px;
    }
    .item1 { grid-area: vid1}
    .item2 { grid-area: vid2}
    .item3 { grid-area: vid3}
    .item4 { grid-area: img1}
    .item5 { grid-area: img2}

    .titulo {
      grid-area: header;
      letter-spacing: 4px;
      margin: 1px;
      padding: 1px;
      font-weight: lighter;
      font-size: 25px;
      font-style: oblique;
      font-family: arial;
      text-align: center;
      text-decoration: overline;
    }
    
    .negro-celeste {
      border-width: medium;
      border: ridge;
      border-color: black;
      border-radius: 10px;
      border-left: 10px;
      border-top: 10px;
      border-bottom: 10px;
      border-right: 20px;
      color: white;
      background-color: red;
    }
    
    a {
      text-decoration: none;
      color: black;
    }
    
    .lista_nav {
      grid-area: nav;
      transform: translate(-5%, -5%);
      margin: 10px;
      padding: 15px;
      color: white;
      display: inline-block;
      font-size: 20px;
      font-family: fantasy;
      background: white;
      border: ridge;
      border-color: red;
      border-radius: 10px;
      border-style: outset;
    }
    
    .lista_nav:hover {
      background-color: red;
      opacity: 80%;
    }
    
    @media screen and (max-width: 320px) {
      .grid-container {
          border: 4px solid black;
          background-color: lightblue;}
      .item1
      .item2
      .item3
      .item4
      .item5 { width: 200px;
      height: 100px;}
      }
    }
    @media screen and (min-width: 480px) {
      .grid-container {
          border: 4px solid black;
          background-color: yellow;
         }
    }
    @media screen and (max-width: 600px) {
      .grid-container {
        grid-template-columns: repeat(4, 1fr);
          background-color: #bbb;
         }
    }
    @media screen and (min-width: 768px) {
      .grid-container {
          background-color: red;
         }
    }
    @media screen and (min-width: 1200px) {
      .grid-container {
          background-color: #aaa
         }
    }